name: Deploy to GCE

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to Server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.GCE_HOST }}
        username: ${{ secrets.GCE_USERNAME }}
        key: ${{ secrets.GCE_SSH_KEY }}
        script: |
          cd /opt/gemini-3-exploration
          git pull
          sudo docker-compose -f docker-compose.prod.yml up -d --build
          sudo docker system prune -f
